{% extends "logged_in_template.html" %}

{% block heading %}
          
<li>Title: {{book_info.row[2][2:-1]}}</li>
<li>Author: {{book_info.row[3][2:-1]}}</li>
<li>Published: {{book_info.row[4][2:-1]}}</li>
<li>ISBN: {{book_info.row[1][2:-1]}}</li>
<li>Your rating: {{book_info.rating}}<!-- your specific rating from just your db entry -->
<li>Scrolled rating: {{book_info.avg_rating}}
<li>Good Reads avg: {{book_info.gr_avg}}</li>
<br>

<!-- Other people's reviews from API and/or db (db to start with)-->
<form action="{{url_for('rate')}}" id="review_form" method="post">
    <input type="radio" name="usr_rating" value="1">
    <input type="radio" name="usr_rating" value="2">
    <input type="radio" name="usr_rating" value="3" checked>
    <input type="radio" name="usr_rating" value="4">
    <input type="radio" name="usr_rating" value="5">
    <br>
    <textarea name="texty" form="review_form" style="resize: none;" rows="4" cols="50">{{book_info.review}}</textarea>
<br>    
{% if book_info.already_reviewed == True %}
    <input type="submit" disabled>
    <input type="submit" value="Re-Submit">
{% else %}
    <input type="submit">
{% endif %}
<br> 
<br> 

{% for rev in book_info.reviews %}
    {% if rev.review != "Not yet reviewed" %}
    <br>
    {{rev.first_name}} says...
    <br>
    <textarea disabled style="resize: none;" rows="4" cols="50">{{rev.review}}</textarea>
    {% endif %}
{% endfor %}


{% endblock %}

{% block body %}
 


{% endblock %}
