{% extends "logged_in_template.html" %}

{% block heading %}
    Welcome back to Scrolled, {{name}}
<!-- Favourite Authors -->
<br><h2>Favourite Authors</h2><br>
    {% for row in rows %}
        <li>{{row.author}}</li>
    {% endfor %}
<!-- Favourite Books -->
<br><h2>Favourite Books</h2><br>

    {% for row in rows %}
        <li>{{row.book}}</li>
    {% endfor %}
<!-- Button for 'About You' -->
{{test}}
    {% for row in found %}
        <li>{{row.found}}</li>
    {% endfor %}
<br><button><a href="{{ url_for('about') }}">About You</a></button>


{% endblock %}

{% block body %}
 


{% endblock %}
