{% extends "template.html" %}

{% block heading %}
    {{msg}}
{% endblock %}

{% block body %}
    <p>
        {{msg_2}}
    </p>
    {% if registered == False %}
            
   <form action="{{ url_for('register') }}" method="post">
       <input type="text" name="email" placeholder="Email..." style="{{color.email}}" value={{details.email}} >
      <br>
      <input type="text" name="password" placeholder="Password..." style="{{color.password}}" value={{details.password}}>
      <br>
      <input type="text" name="first_name" placeholder="First Name..." style="{{color.first_name}}" value={{details.first_name}}> 
      <br>
      <input type="text" name="last_name" placeholder="Last Name..." style="{{color.last_name}}" value={{details.last_name}}> 
      <br>
     <input type="date" name="dob" placeholder="Birthday MM/DD/YY..." style="{{color.dob}}" value={{details.dob}}>
      
      <br>
       <input type="text" name="country" placeholder="Country..." style="{{color.country}}" value={{details.country}}> 
      <br>
      <br> 
      <button>Register</button>  
    </form>

     {% endif %}

    <button><a href="{{ url_for('index') }}">LogIn</a></button>


{% endblock %}
