{% extends "template.html" %}

{% block heading %}
    {{register_info.msg}}
{% endblock %}

{% block body %}
    <p>
        {{register_info.msg_2}}
    </p>
    {% if register_info.registered == False %}
            
   <form action="{{ url_for('register') }}" method="post">
       <input type="text" name="email" placeholder="Email..." style="{{register_info.color.email}}" value={{register_info.details.email}} >
      <br>
      <input type="text" name="password" placeholder="Password..." style="{{register_info.color.password}}" value={{register_info.details.password}}>
      <br>
      <input type="text" name="first_name" placeholder="First Name..." style="{{register_info.color.first_name}}" value={{register_info.details.first_name}}> 
      <br>
      <input type="text" name="last_name" placeholder="Last Name..." style="{{register_info.color.last_name}}" value={{register_info.details.last_name}}> 
      <br>
     <input type="date" name="dob" placeholder="Birthday MM/DD/YY..." style="{{register_info.color.dob}}" value={{register_info.details.dob}}>
      
      <br>
       <input type="text" name="country" placeholder="Country..." style="{{register_info.color.country}}" value={{register_info.details.country}}> 
      <br>
      <br> 
      <button>Register</button>  
    </form>

     {% endif %}

    <button><a href="{{ url_for('index') }}">LogIn</a></button>


{% endblock %}
